<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="Util.JDate">
    <Module>
      <Name>JDate</Name>
      <Version>2.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="JDate.PKG"/>
      <Description>Japanese Calendar Converter for InterSystems products</Description>
    </Module>
  </Document>
</Export>
